@charset "UTF-8";

body {
	font-size: 20px;
}

header {
	font-size: 20px;
	text-align: center;
}

.over-wrapper {
	width: 100%;
}

.color {
	width: 100px;
	height: 100px;
	margin: auto;
}

#c1 {
	height: 20px;
	background-color: #61BB46;
	display: block;
}

#c2 {
	height: 20px;
	background-color: #FDB827;
	display: block;
}

#c3 {
	height: 20px;
	background-color: #F5821F;
	display: block;
}

#c4 {
	height: 20px;
	background-color: #E03A3E;
	display: block;
}

#c5 {
	height: 20px;
	background-color: #963D97;
	display: block;
}