@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

body {
	font-size: 30px;
	font-family: 'Caveat', cursive;
}

.over-wrapper {
	width: 100%;
	text-align: center;
}

header {
	font-size: 40px;
	text-align: center;
}

/* Profile */
.color {
	width: 100px;
	height: 100px;
	margin: auto;
	background: linear-gradient(to top,#3c3b5f,#fd5e53);
    border-radius: 50%;
}

#c1 {
	height: 20px;
	background-color: #61BB46;
	display: block;
}

#c2 {
	height: 20px;
	background-color: #FDB827;
	display: block;
}

#c3 {
	height: 20px;
	background-color: #F5821F;
	display: block;
}

#c4 {
	height: 20px;
	background-color: #E03A3E;
	display: block;
}

#c5 {
	height: 20px;
	background-color: #963D97;
	display: block;
}

/* sns */

.sns {
	width: 100%;
	position: absolute;
	top: auto;
	bottom: 0;
}

.sns ul {
	list-style: none;
	text-align: center;
	margin: 0;
    padding: 0;
}

.sns ul li {
	display: inline-block;
	margin: 0 14px 14px;
}

.sns a {
	color: #000;
}